ZZZ_*
zz_*
output
**/output
**/*.log
**/*.out
**/*.xyz
**/QC_output.tar.gz
**/QC_crap.tar.gz
Full_database/full_database.pkl
Articles/jensen22_lumi_benchmark/from_lumi.tar.gz
Articles/jensen22_lumi_benchmark/methods_benchmark.tar.gz
*/*.sh
